.logout{
    position: absolute;
    width: 20%;
    top: 70px;
    border-radius: 0px 25px 25px 0px ;
    background-color: #ECEFF1;
    padding: 15px 0;
}

.row-footer{
    position: relative;
    margin-left: 23% !important;
    text-align: center;
    width: 70%;
    top: 40px !important;
}

.card-bottem{
    position: absolute;
    background-color: #ECEFF1;
    height: 120px;
    border-radius: 20px;
    width: 20%;
}